.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.Discount h4 {
  font-weight: 400;
}
.Discount span {
  font-size: 14px;
}
.Discount .box img {
  width: 120px;
  height: 110px;
  display: initial;
}
.box .img-cover-na{
  text-align: center;
}
.box .N-price ,.box .D-price{
  color: #c10017;
  font-size: 12px;
}
.box h4 {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
    line-height: 15px;
    -webkit-line-clamp: 2;
  margin-top: 5px;
  font-size: 12px;
}
.button-naa{
    background: none;
    color: #6495ED;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-left: 65%;
}
.button-naa:hover{
  cursor: pointer;
  background-color: #6495ED;
  color: #fff;
}
@media only screen and (max-width: 768px){
  content .grid.product .box{
    width: 68px;
    height: 250px;
  }
  .box .img-cover-na {
    height: 70px;
    width: 20px;
  }
  .Discount .box img{
    display: initial;
    height: 70px;
    width: 20px;
  }
  .box h4 {
    height: 50px;
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
    -webkit-line-clamp: 2;
    margin-top: 5px;
    font-size: 7px;
  }
  .img-cover-na{
    height: 100px
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
}
}