footer {
    /* background-color: #0c2a4d; */
  background-color:#FF6633;
  padding: 40px 0;
  color: #fff;
  height: 350px;
}
footer h1 {
  /* margin-bottom: 30px; */
  color: #fff;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  /* background-color: #0c2a4d; */
  background-color: #FF6633;

  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
  font-size: 13px;
}
@media only screen and (max-width: 768px){
  footer {
    /* background-color: #0c2a4d; */
    background-color: #FF6633;
    padding: 40px 0;
    color: #fff;
    height: 650px;
}
}
